nav {
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.253);
  background-color: white;
  z-index: 1000;
  top: 0px;

  ul.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;

    li {
      list-style: none;

      a {
        text-decoration: none;
        display: inline-block;
        padding: 15px 8px;
        color: black;
        font-size: 20px;
        &:not(#logo):not(#btn):hover {
          text-decoration: underline;
        }
      }

      .active {
        text-decoration: underline;
        font-weight: 700;
      }

      input {
        width: 175px;
        border-radius: 20px;
        font-size: 12px;
        padding: 5px 15px;
        border: 1px solid $search;
        display: flex;
        margin: 0 5px;

        &::placeholder {
          opacity: 1;
          color: $search;
        }
        &:hover {
          border: 1px solid $searchHover;
          color: $searchHover;
          &::placeholder {
            color: $searchHover;
          }
        }
        &:focus {
          border: 1px solid $searchHover;
          color: $searchHover;
          &::placeholder {
            color: $searchHover;
          }
        }
      }
    }
    .logo {
      margin-right: auto;
      margin-left: auto;
      a {
        font-size: 50px;
        font-weight: 700;
        color: $primary;
        padding: 8px 10px;
      }
    }

    li.btn a {
      background-color: $primary;
      padding: 2px 18px;
      border-radius: 20px;
      display: flex;
      margin: 0 5px;
      color: white;
      border: 1px solid $primary;
      &:hover {
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
      }
    }
    li.searchBox {
      position: relative;
    }
  }
  .item {
    margin: 0 5px;
  }
}
.search.icon {
  color: #000;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px $search;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.search.icon:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  height: 4px;
  width: 1px;
  background-color: $search;
}

.icon {
  right: 15px;
  bottom: 9px;
}
